<div style="float: left; width: 30%;">
	<div class="car-history">
		<b style="margin-right: 35px; margin-left: 10px;">លេខកូដ</b> <input type="text" name="car_id" id="car_id" value=<%= params[:car_id] %> readonly /> <br/><br/>
		<b style="margin-right: 25px; margin-left: 10px;">ស្លាកលេខ</b> <input type="text" name="car_plate_number" id="car_plate_number" value=<%= @car_info.plate_number %> readonly /> <br/><br/>
		<b style="margin-right: 25px; margin-left: 10px;">ម៉ាករថយន្ត</b> <input type="text" name="car_id" id="car_id" value=<%= @car_info.name %> readonly /> <br/><br/>
	</div>

	<div class="input-spare-part">
		<%= bootstrap_form_for(@spare_part, layout: :horizontal) do |f| %>
		  <%= f.text_field :name, :label_col => "col-sm-3", :control_col => "col-sm-9", :label => "លេខកូដ", data: {autocomplete: spare_parts_autocomplete_spare_part_name_path} %>
		<% end %>
	</div>

	<div class="calculation">
		<div style="float: left;">
		<b style="margin-right: 35px; margin-left: 10px;">Vat (%)</b> <input type="text" name="vat" id="vat" /> <br/><br/>
		<b style="margin-right: 25px; margin-left: 10px;">លុយសរុប</b> <input type="text" name="total" id="total" /> <br/><br/>
		<b style="margin-right: 23px; margin-left: 10px;">បញ្ចុះតំលៃ</b> <input type="text" name="discount" id="discount" /> <br/><br/>
		<b style="margin-right: 20px; margin-left: 10px;">លុយទទួល</b> <input type="text" id="recieved" name="recieved" /> <br/> <br/>
		<b style="margin-right: 30px; margin-left: 10px;">លុយអាប់</b> <input type="text" id="return" name="return" />
		</div>
		<div style="float: right;">
		<input type="button" value="PRINT" id="print" style="width: 55px; height: 50px; margin-top: 70px;" />
		</div>

	</div>
</div>

<div class="spare-part-detail">
	<div class="panel panel-default">
		<table class="table table-striped table-hover" id="spare_part_detail">
			<th style="width: 15%"> កូដ </th>
			<th style="width: 20%"> ឈ្មោះ </th>
			<th style="width: 15%"> ចំនួន </th>
			<th style="width: 20%"> តំលៃរាយ </th>
			<th style="width: 10%"> បញ្ចុះតំលៃ </th>
			<th style="width: 20%"> តំលៃសរុប </th>
			<th style="width: 10%"> </th>
		</table>
	</div>
</div>

